Importing the Essential Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Analysing the dataset

In [3]:
dataset = pd.read_csv("healthcare-dataset-stroke-data.csv")

In [4]:
dataset.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [5]:
dataset['gender'].value_counts()

Female    2994
Male      2115
Other        1
Name: gender, dtype: int64

In [6]:
dataset.replace({'gender':{'Male':2,'Female':1,'Other':0}},inplace=True)

In [7]:
dataset['work_type'].value_counts()

Private          2925
Self-employed     819
children          687
Govt_job          657
Never_worked       22
Name: work_type, dtype: int64

In [8]:
dataset.replace({'work_type':{'Private':4,'Self-employed':3,'children':2,'Govt_job':1,'Never_worked':0}},inplace=True)

In [9]:
dataset['ever_married'].value_counts()

Yes    3353
No     1757
Name: ever_married, dtype: int64

In [10]:
dataset.replace({'ever_married':{'Yes':1,'No':0}},inplace=True)

In [11]:
dataset['Residence_type'].value_counts()

Urban    2596
Rural    2514
Name: Residence_type, dtype: int64

In [12]:
dataset.replace({'Residence_type':{'Urban':1,'Rural':0}},inplace=True)

In [13]:
dataset['smoking_status'].value_counts()

never smoked       1892
Unknown            1544
formerly smoked     885
smokes              789
Name: smoking_status, dtype: int64

In [14]:
dataset.replace({'smoking_status':{'never smoked':0,'Unknown':1,'formerly smoked':2,'smokes':3}},inplace=True)

In [15]:
dataset.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,2,67.0,0,1,1,4,1,228.69,36.6,2,1
1,51676,1,61.0,0,0,1,3,0,202.21,NaN,0,1
2,31112,2,80.0,0,1,1,4,0,105.92,32.5,0,1
3,60182,1,49.0,0,0,1,4,1,171.23,34.4,3,1
4,1665,1,79.0,1,0,1,3,0,174.12,24.0,0,1

In [16]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   int64
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   int64
 6   work_type          5110 non-null   int64
 7   Residence_type     5110 non-null   int64
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   int64
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(9)
memory usage: 479.2 KB

In [17]:
X = dataset.iloc[:,:-1].values
y = dataset.iloc[:,-1].values

In [18]:
dataset.shape

(5110, 12)

In [19]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X[:, 9:10])    
X[:, 9:10] = imputer.transform(X[:, 9:10])

In [20]:
X

array([[9.04600000e+03, 2.00000000e+00, 6.70000000e+01, ...,
        2.28690000e+02, 3.66000000e+01, 2.00000000e+00],
       [5.16760000e+04, 1.00000000e+00, 6.10000000e+01, ...,
        2.02210000e+02, 2.88932369e+01, 0.00000000e+00],
       [3.11120000e+04, 2.00000000e+00, 8.00000000e+01, ...,
        1.05920000e+02, 3.25000000e+01, 0.00000000e+00],
       ...,
       [1.97230000e+04, 1.00000000e+00, 3.50000000e+01, ...,
        8.29900000e+01, 3.06000000e+01, 0.00000000e+00],
       [3.75440000e+04, 2.00000000e+00, 5.10000000e+01, ...,
        1.66290000e+02, 2.56000000e+01, 2.00000000e+00],
       [4.46790000e+04, 1.00000000e+00, 4.40000000e+01, ...,
        8.52800000e+01, 2.62000000e+01, 1.00000000e+00]])

Feature Scaling

In [21]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

Spliting into Training and Testing Dataset

In [22]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

Implementing Artificial Neural Networks

In [23]:
import tensorflow as tf

ann = tf.keras.Sequential()
ann.add(tf.keras.layers.Dense(units=20, activation='relu')) # Input layer
ann.add(tf.keras.layers.Dense(units=20, activation='relu')) # Hidden Layer
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid')) # Output Layer

In [24]:
ann.compile(optimizer='adam',loss='binary_crossentropy', metrics=['accuracy']) # Compiling the ANN
ann.fit(X_train,y_train,batch_size=20,epochs=50)

Epoch 1/50
205/205 [==============================] - 4s 6ms/step - loss: 0.3003 - accuracy: 0.9261
Epoch 2/50
205/205 [==============================] - 1s 6ms/step - loss: 0.1705 - accuracy: 0.9523
Epoch 3/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1602 - accuracy: 0.9523
Epoch 4/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1549 - accuracy: 0.9523
Epoch 5/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1517 - accuracy: 0.9525
Epoch 6/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1493 - accuracy: 0.9525
Epoch 7/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1481 - accuracy: 0.9523
Epoch 8/50
205/205 [==============================] - 2s 7ms/step - loss: 0.1466 - accuracy: 0.9521
Epoch 9/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1455 - accuracy: 0.9528
Epoch 10/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1448 - accuracy: 0.9521
Epoch 11/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1441 - accuracy: 0.9525
Epoch 12/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1432 - accuracy: 0.9525
Epoch 13/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1425 - accuracy: 0.9523
Epoch 14/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1419 - accuracy: 0.9523
Epoch 15/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1415 - accuracy: 0.9525
Epoch 16/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1406 - accuracy: 0.9521
Epoch 17/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1405 - accuracy: 0.9528
Epoch 18/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1403 - accuracy: 0.9521
Epoch 19/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1395 - accuracy: 0.9523
Epoch 20/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1393 - accuracy: 0.9521
Epoch 21/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1388 - accuracy: 0.9521
Epoch 22/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1384 - accuracy: 0.9525
Epoch 23/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1383 - accuracy: 0.9521
Epoch 24/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1372 - accuracy: 0.9528
Epoch 25/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1372 - accuracy: 0.9528
Epoch 26/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1366 - accuracy: 0.9525
Epoch 27/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1363 - accuracy: 0.9525
Epoch 28/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1354 - accuracy: 0.9530
Epoch 29/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1357 - accuracy: 0.9523
Epoch 30/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1351 - accuracy: 0.9525
Epoch 31/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1347 - accuracy: 0.9523
Epoch 32/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1340 - accuracy: 0.9528
Epoch 33/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1332 - accuracy: 0.9525
Epoch 34/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1339 - accuracy: 0.9528
Epoch 35/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1335 - accuracy: 0.9533
Epoch 36/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1328 - accuracy: 0.9533
Epoch 37/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1333 - accuracy: 0.9533
Epoch 38/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1314 - accuracy: 0.9533
Epoch 39/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1319 - accuracy: 0.9528
Epoch 40/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1313 - accuracy: 0.9530
Epoch 41/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1312 - accuracy: 0.9530
Epoch 42/50
205/205 [==============================] - 2s 8ms/step - loss: 0.1298 - accuracy: 0.9533
Epoch 43/50
205/205 [==============================] - 2s 7ms/step - loss: 0.1301 - accuracy: 0.9535
Epoch 44/50
205/205 [==============================] - 2s 8ms/step - loss: 0.1300 - accuracy: 0.9543
Epoch 45/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1290 - accuracy: 0.9535
Epoch 46/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1287 - accuracy: 0.9533
Epoch 47/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1279 - accuracy: 0.9540
Epoch 48/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1279 - accuracy: 0.9545
Epoch 49/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1273 - accuracy: 0.9550
Epoch 50/50
205/205 [==============================] - 1s 7ms/step - loss: 0.1269 - accuracy: 0.9545

In [25]:
y_pred = ann.predict(X_test)

In [26]:
y_pred2 = []
answers = []
for i in y_pred:
    for j in i:
        if j>=0.5:
            y_pred2.append(1)
        else:
            y_pred2.append(0)

In [27]:
from sklearn.metrics import accuracy_score
print("Accuracy: ",round(accuracy_score(y_test,y_pred2)*100,2),"%")

Accuracy:  94.62 %